.btnAcoes {
    margin-top: 1.5em;
}

#btnEditar {
    color: rgb(53, 53, 240);
    text-decoration: none;
    border-radius: 5px;
    padding: .25em .5em;
    font-weight: 600;
    transition: .25s;
}

#btnEditar:hover {
    color: rgb(0, 119, 255);
}

#btnDeletar {
    color: rgb(219, 6, 6);
    text-decoration: none;
    border-radius: 5px;
    padding: .25em .5em;
    font-weight: 600;
    transition: .25s;
}

#btnDeletar:hover {
    color: rgb(138, 2, 2);
}

.cadastro {
    display: flex;
    justify-content: center;
    align-items: center;
}

.cadastroImg {
    width: 50vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(/img/FUNDO-CADASTRO.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.cadastroFormulario {
    width: 50vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.cadastroImg img {
    width: 300px;
}

.formCadastro form {
 display: flex;
 flex-direction: column;
 justify-content: center;
 align-items: center;
 gap: 1em;
}

.formCadastro form div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: .5em;
}

.formCadastro form div input {
    border-radius: 5px;
}

.formCadastro form div input::placeholder {
    padding-left: .5em;
}

.formCadastro form div #btnEntrar {
    border-radius: 5px;
    border: 0;
}

.deletar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
}

.deletarContainer {
    width: 40%;
    text-align: center;
    padding: 2em 3em;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 2em;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.5);
}

.btnDeletar {
    color: white;
    background-color: rgb(219, 6, 6);
    border: none;
    border-radius: 5px;
    padding: .25em .5em;
    transition: .25s;
}

.btnDeletar:hover {
    background-color: rgb(138, 2, 2);
}

.btnVoltar {
    color: white;
    background-color: rgb(158, 158, 158);
    border: none;
    border-radius: 5px;
    padding: .40em .65em;
    transition: .25s;
    text-decoration: none;
}

.btnVoltar:hover {
    color: white;
    background-color: gray;
}