.login {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.observacao {
    margin: 5em 0;
}

.fa-lightbulb {
    color: rgb(235, 203, 61);
}

.formLogin {
    text-align: center;
}

.formLogin form {
    display: flex;
    flex-direction: column;
    gap: 1em;
    border-radius: 5px;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.25);
    padding: 2em 4em;
    background-color: rgb(97, 52, 0);
    color: white;
}

.formLogin form div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.formLogin form div input {
    border-radius: 5px;
    border: 0;
    background-color: white;
}

.formLogin form div input::placeholder {
    padding-left: 1em;
    font-size: .8em;
}

.btnEntrar {
    margin-top: 2em;
    padding: .5em 1em;
    font-weight: 600;
    font-size: .8em;
    cursor: pointer;
    transition: .25s;
}

.btnEntrar:hover {
    background-color: rgb(97, 97, 224);
    color: white;
}

.copyright {
    position: absolute;
    bottom: 0;
}