@model Ecommerce.Models.Produto

@{
    var mensagem = TempData["MensagemLogin"] as string;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] Ecommerce</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/style.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Ecommerce.styles.css" asp-append-version="true" />

    <script src="https://kit.fontawesome.com/88cbac72fc.js" crossorigin="anonymous" defer></script>
</head>
<body>
    <section class="cadastro">
        <div class="cadastroImg">
        </div>
        <div class="cadastroFormulario">
            <div class="formCadastro">
                <form asp-action="Editar">
                    <a asp-action="Listagem"><i class="fa-solid fa-arrow-left"></i></a>
                    <h1>Editar @Model.Nome</h1>
                    <div>
                        <label asp-for="Nome">Produto</label>
                        <input asp-for="Nome" type="text" placeholder="Produto..">
                    </div>
                    <div>
                        <label asp-for="Descricao">Descrição</label>
                        <input asp-for="Descricao" type="text" placeholder="Descrição..">
                    </div>
                    <div>
                        <label asp-for="Preco">Preço</label>
                        <input asp-for="Preco" type="number" placeholder="Preço..">
                    </div>
                    <div>
                        <input id="btnEntrar" type="submit" value="Salvar">
                    </div>
                    @if (!string.IsNullOrEmpty(mensagem))
                    {
                        <script>
                            alert('@mensagem');
                        </script>
                    }
                </form>
            </div>
            <div class="copyright">
                <p>© CoffeUp - 2023</p>
            </div>
        </div>
    </section>
</body>
</html>
