<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] Ecommerce</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/style.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Ecommerce.styles.css" asp-append-version="true" />
</head>
<body>
    <section class="home">
        <nav>
            <h1>CoffeUp</h1>
            <a href="#">Gerenciar Produtos</a>
        </nav>
        <div class="sobre">
            <h1>Dê um Up na energia<br/>com um café no precinho</h1>
            <p>A CoffeUp mostra diversas opções de café que você pode estar tomando em uma interface simples, bonita e objetiva. Dê uma olhada em nosso cardápio!</p>
            <a href="">Ver cardápio</a>
        </div>
        <div class="containers">
            @* <div class="container">
                <h3>Java Coffe</h3>
                <p>Ideal para um apreciador raíz</p>
                <h4>R$ 8,00</h4>
                <form action="">
                    <button type="submit">Comprar</button>
                </form>
            </div> *@
        </div>
    </section>
</body>
</html>
